body {
    margin: 0;
    padding: 0;
}

.header {
    background-color: brown;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.header-logo img {
    width: 6%;
    height: auto;
}

.nav-main {
    text-align: center;
}

.nav {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    font-size: large;
}

.nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

.nav a:hover {
    color: grey;
}

.search {
    display: flex;
    align-items: center;
}

.search input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 10px;
}

.search button {
    padding: 5px 10px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search button:hover {
    background-color: #ddd;
}

.container {
    width: 100%;
    display: flex;
    text-align: justify;
    font-size: large;
}

.left {
    padding: 20px;
    width: 100%;
}

.left p {
    line-height: 25px;
}

.right {
    padding: 20px;
    width: 100%;
}
.right img {
    width: 100%;
}

h1, h3 {
    text-align: center;
}

blockquote {
    font-style: italic;
    border-left: 2px solid #ccc;
    padding-left: 10px;
}

.footer {
    background-color: brown;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.footer a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

.footer a:hover {
    color: grey;
}